---
import { testimonies } from "@/lib/testimonies";
---
<section class="testimonies flex flex-col w-full h-dvh bg-linear-to-b from-slate-50 to-white font-[montserrat]">
    <div class="title flex flex-col justify-center items-center w-full h-auto mt-20 mb-15">
        <h3 class="font-bold text-center text-lg md:text-xl text-main-orange mb-5">Testimonios</h3>
        <h2 class="w-90 text-center font-bold text-3xl md:text-4xl mb-5">Lo que dicen nuestros clientes</h2>
        <p class="text-center">Historias reales de emprendedores que transformaron sus marcas</p>
    </div>
    <div class="testimonies-cards flex flex-col justify-center items-center w-full h-auto gap-y-5">
        {
            testimonies.map((testimony) => (
                <div class="card flex flex-col w-[90%] h-auto p-5 bg-white rounded-2xl shadow-lg">
                    <div class="rate flex flex-row justify-baseline items-baseline w-[20%] h-auto">
                        {
                            [...Array(testimony.rate)].map((_, i) => (
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#F8D563" class="icon icon-tabler icons-tabler-filled icon-tabler-star"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>
                            ))
                        }
                    </div>
                    <div class="testimony-text w-[90%] h-auto mb-5">
                        <p>{testimony.comment}</p>
                    </div>
                    <div class="testimony-client flex flex-row justify-center items-center w-[90%] h-auto gap-5">
                        <div class="avatar flex justify-center items-center bg-amber-400 rounded-full overflow-hidden w-10 h-10">
                            <img src={testimony.avatar} alt={testimony.client} class="w-full h-full object-cover"/>
                        </div>
                        <div class="client-name flex flex-col w-[70%] h-auto">
                            <h3 class="font-bold">{testimony.client_name}</h3>
                            <p>{testimony.client}</p>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>